extends ../_layout
include ../_mixins/_aside

block container  
    #explore.container
        .row
            .col-md-2.col-md-offset-1
                +asides
            .col-md-9
                .row
                    .col-md-4
                        .thumbnail
                            .post-container
                                img(src="../../static/images/cats.jpg" alt="cats")
                                .caption
                                    .description 
                                        .date June 26, 2017
                                            span | 
                                            span.post-by by Michael Ford   
                                        h2 South Africa - Living with Big Cats
                                        p 
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis velit quae laborum, sunt dolorum, unde, eum error impedit atque architecto ab quidem eius, ipsum ad itaque. Iste provident harum officiis
                                            p
                                                a(href="#" class="btn btn-default" role="button")  Read more...
                    .col-md-4
                        .thumbnail
                            .post-container
                                img(src="../../static/images/cats.jpg" alt="cats")
                                .caption
                                    .description 
                                        .date June 26, 2017
                                            span | 
                                            span.post-by by Michael Ford   
                                        h2 South Africa - Living with Big Cats
                                        p 
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis velit quae laborum, sunt dolorum, unde, eum error impedit atque architecto ab quidem eius, ipsum ad itaque. Iste provident harum officiis
                                            p
                                                a(href="#" class="btn btn-default" role="button")  Read more...
                    .col-md-4
                        .thumbnail
                            .post-container
                                img(src="../../static/images/cats.jpg" alt="cats")
                                .caption
                                    .description 
                                        .date June 26, 2017
                                            span | 
                                            span.post-by by Michael Ford   
                                        h2 South Africa - Living with Big Cats
                                        p 
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis velit quae laborum, sunt dolorum, unde, eum error impedit atque architecto ab quidem eius, ipsum ad itaque. Iste provident harum officiis
                                            p
                                                a(href="#" class="btn btn-default" role="button")  Read more...
                    .col-md-4
                        .thumbnail
                            .post-container
                                img(src="../../static/images/cats.jpg" alt="cats")
                                .caption
                                    .description 
                                        .date June 26, 2017
                                            span | 
                                            span.post-by by Michael Ford   
                                        h2 South Africa - Living with Big Cats
                                        p 
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis velit quae laborum, sunt dolorum, unde, eum error impedit atque architecto ab quidem eius, ipsum ad itaque. Iste provident harum officiis
                                            p
                                                a(href="#" class="btn btn-default" role="button") Read more...
                    .col-md-4
                        .thumbnail
                            .post-container
                                img(src="../../static/images/cats.jpg" alt="cats")
                                .caption
                                    .description 
                                        .date June 26, 2017
                                            span | 
                                            span.post-by by Michael Ford   
                                        h2 South Africa - Living with Big Cats
                                        p 
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis velit quae laborum, sunt dolorum, unde, eum error impedit atque architecto ab quidem eius, ipsum ad itaque. Iste provident harum officiis
                                            p
                                                a(href="#" class="btn btn-default" role="button") Read more...
                    .col-md-4
                        .thumbnail
                            .post-container
                                img(src="../../static/images/cats.jpg" alt="cats")
                                .caption
                                    .description 
                                        .date June 26, 2017
                                            span | 
                                            span.post-by by Michael Ford   
                                        h2 South Africa - Living with Big Cats
                                        p 
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis velit quae laborum, sunt dolorum, unde, eum error impedit atque architecto ab quidem eius, ipsum ad itaque. Iste provident harum officiis
                                            p
                                                a(href="#" class="btn btn-default" role="button") Read more...
                    .col-md-4
                        .thumbnail
                            .post-container
                                img(src="../../static/images/cats.jpg" alt="cats")
                                .caption
                                    .description 
                                        .date June 26, 2017
                                            span | 
                                            span.post-by by Michael Ford   
                                        h2 South Africa - Living with Big Cats
                                        p 
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis velit quae laborum, sunt dolorum, unde, eum error impedit atque architecto ab quidem eius, ipsum ad itaque. Iste provident harum officiis
                                            p
                                                a(href="#" class="btn btn-default" role="button") Read more...