* {
  padding: 0;
  margin: 0;
}
body header {
  background-color: #dee2e2;
}
body header #logo {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
}
body header #logo a {
  color: #fff;
}
body header #logo a:hover {
  text-decoration: none;
}
body header #nav a {
  color: #fff;
  padding: 10px;
  font-size: 18px;
}
body header #nav a span {
  padding: 5px;
}
body header #nav a button {
  padding: 5px;
  margin-top: 7px;
  font-size: 16px;
  border: 1px solid #C3BFBF;
  border-radius: 5px;
}
body header #nav a button:hover {
  background-color: rgba(237, 236, 236, 0.47);
  color: #fff;
}
body #wrapper #home {
  width: 100%;
  height: 900px;
  background-image: url("../images/home.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body #wrapper #home h1 {
  color: #fff;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 80px;
  line-height: 80%;
  position: relative;
  left: 60%;
  top: 30%;
}
body #wrapper #home button {
  position: relative;
  left: 60%;
  top: 300px;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  background-color: transparent;
}
body #wrapper #home button:hover {
  background-color: #fff;
  color: #717D7C;
}
body #wrapper #explore {
  height: 900px;
  width: 100%;
}
body #wrapper #explore > .row {
  position: relative;
  top: 80px;
  left: -10px;
}
body #wrapper #explore .col-md-9 .row {
  width: 90%;
}
body #wrapper #explore .col-md-9 .row .post-container {
  background-color: #f8f8f8;
}
body #wrapper #explore .col-md-9 .row .post-container img {
  width: 100%;
  height: 320px;
}
body #wrapper #explore .col-md-9 .row .post-container .description {
  font-family: 'Lora', serif;
  padding: 15px 15px 0;
}
body #wrapper #explore .col-md-9 .row .post-container .description span {
  margin-left: 20px;
}
body #wrapper #explore .col-md-9 .row .post-container .description p {
  font-size: 16px;
  text-align: justify;
}
body #wrapper .contact-form {
  position: relative;
  top: 80px;
  left: 20px;
}
body #wrapper .reg-form,
body #wrapper .signin-form {
  position: relative;
  top: 80px;
  left: 400px;
}
body #wrapper .reg-form .well,
body #wrapper .signin-form .well {
  width: 350px;
}
body #wrapper .reg-form .img-circle,
body #wrapper .signin-form .img-circle {
  width: 150px;
  height: 150px;
  margin: 10px 80px;
}
body footer {
  background-color: #dee2e2;
  color: #fff;
  font-size: 18px;
  font-family: 'Francois One', sans-serif;
  padding-top: 10px;
}
