* {
  padding: 0;
  margin: 0;
}
body header {
  background-color: #dee2e2;
}
body header #logo {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
}
body header #logo a {
  color: #fff;
}
body header #logo a:hover {
  text-decoration: none;
}
body header #nav a {
  color: #fff;
  padding: 5px;
  font-size: 14px;
}
body header #nav a span {
  padding: 5px;
}
body header #nav a button {
  padding: 5px;
  margin-top: 7px;
  font-size: 12px;
  border: 1px solid #C3BFBF;
  border-radius: 5px;
}
body header #nav a button:hover {
  background-color: rgba(237, 236, 236, 0.47);
  color: #fff;
}
body #wrapper #home {
  width: 100%;
  height: 950px;
  background-image: url("../images/home.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body #wrapper #home h1 {
  color: #fff;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 50px;
  line-height: 80%;
  position: relative;
  left: 60%;
  top: 25%;
}
body #wrapper #home button {
  position: relative;
  left: 60%;
  top: 250px;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  background-color: transparent;
}
body #wrapper #home button:hover {
  background-color: #fff;
  color: #717D7C;
}
body #wrapper .all-publications {
  height: 950px;
  width: 100%;
}
body #wrapper .all-publications > .row {
  position: relative;
  top: 80px;
  left: -10px;
  padding-bottom: 50px;
}
body #wrapper .all-publications .col-md-8 .row {
  width: 90%;
}
body #wrapper .all-publications .col-md-8 .row .col-md-4 {
  padding: 5px;
}
body #wrapper .all-publications .col-md-8 .row .publications-container {
  background-color: #f8f8f8;
}
body #wrapper .all-publications .col-md-8 .row .publications-container img {
  width: 100%;
  height: 200px;
}
body #wrapper .all-publications .col-md-8 .row .publications-container .description {
  font-family: 'Lora', serif;
  padding: 20px;
  font-size: 10px;
  height: 285px;
}
body #wrapper .all-publications .col-md-8 .row .publications-container .description span {
  margin-left: 10px;
}
body #wrapper .all-publications .col-md-8 .row .publications-container .description p {
  font-size: 12px;
  text-align: justify;
  line-height: 16px;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  margin: 10px auto;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
body #wrapper .all-publications .col-md-8 .row .publications-container .description p a {
  font-size: 12px;
}
body #wrapper .all-publications .col-md-8 .row #add {
  margin: 20px 0;
}
body #wrapper .publication {
  height: 950px;
  width: 100%;
}
body #wrapper .publication > .row {
  position: relative;
  top: 80px;
  left: -10px;
  padding-bottom: 50px;
  font-family: 'Lora', serif;
  font-size: 14px;
}
body #wrapper .publication > .row .single-publication-container h2 {
  margin: 0 0 20px;
  font-weight: bold;
  color: #717D7C;
}
body #wrapper .publication > .row .single-publication-container span {
  margin-left: 10px;
}
body #wrapper .publication > .row .single-publication-container img {
  width: 85%;
  margin: 20px 0;
}
body #wrapper .publication > .row .single-publication-container .publication-text {
  text-align: justify;
  width: 85%;
}
body #wrapper .publication > .row .single-publication-container .icons {
  width: 85%;
  margin-top: 20px;
}
body #wrapper .publication > .row .single-publication-container .icons button {
  margin: 0 10px;
}
body #wrapper .publication > .row .single-publication-container .icons button span {
  margin: 5px 10px;
}
body #wrapper .publication > .row .single-publication-container .icons button .glyphicon {
  font-weight: bold;
  font-size: 16px;
  color: #717D7C;
}
body #wrapper .publication > .row .single-publication-container .icons button:hover .glyphicon-remove {
  color: #ff0000;
}
body #wrapper .publication > .row .single-publication-container .icons button:hover .glyphicon-star-empty {
  color: #fff60a;
}
body #wrapper .publication > .row .single-publication-container .icons button:hover .glyphicon-thumbs-down {
  color: #ff0000;
}
body #wrapper .publication > .row .single-publication-container .icons button:hover .glyphicon-thumbs-up {
  color: #1bf776;
}
body #wrapper .publication > .row .single-publication-container .publisher {
  margin: 30px 0 60px;
}
body #wrapper .publication > .row .single-publication-container .publisher h4 {
  border-bottom: 1px solid #717D7C;
  color: #717D7C;
  width: 85%;
}
body #wrapper .publication > .row .single-publication-container .publisher img {
  width: 100%;
}
body #wrapper .publication > .row .single-publication-container .publisher p {
  width: 85%;
}
body #wrapper .publication > .row .single-publication-container .comments-container {
  margin: 60px 0;
  width: 85%;
}
body #wrapper .publication > .row .single-publication-container .comments-container h4 {
  border-bottom: 1px solid #717D7C;
  color: #717D7C;
}
body #wrapper .publication > .row .single-publication-container .comments-container .row {
  margin: 30px 0;
}
body #wrapper .publication > .row .single-publication-container .comments-container .row img {
  width: 100%;
}
body #wrapper .publication > .row .single-publication-container .comments-container .row p {
  text-align: justify;
}
body #wrapper .publication > .row .single-publication-container .comments-container form label {
  font-weight: normal;
}
body #wrapper .publication > .row .single-publication-container .comments-container form input {
  width: 150%;
}
body #wrapper aside {
  font-family: 'Lora', serif;
  width: 80%;
}
body #wrapper aside .nav {
  margin-top: 50px;
}
body #wrapper aside .nav li a {
  color: #000;
  font-size: 12px;
}
body #wrapper aside .nav li.active > a {
  background-color: #eeeeee;
}
body #wrapper aside .popular {
  margin-top: 50px;
}
body #wrapper aside .popular h5 {
  background-color: #eeeeee;
  padding: 15px 10px;
  margin: 20px 0;
  font-size: 14px;
}
body #wrapper aside .popular h6 {
  font-size: 12px;
  margin: 20px 0 40px;
}
body #wrapper aside .popular img {
  width: 100%;
  height: 160px;
}
body #wrapper .contact-form {
  position: relative;
  top: 80px;
  left: 20px;
  font-size: 12px;
}
body #wrapper .reg-form,
body #wrapper .signin-form {
  position: relative;
  top: 80px;
  left: 400px;
  font-size: 12px;
}
body #wrapper .reg-form .well,
body #wrapper .signin-form .well {
  width: 350px;
}
body #wrapper .reg-form .img-circle,
body #wrapper .signin-form .img-circle {
  width: 150px;
  height: 150px;
  margin: 10px 80px;
}
body #wrapper .publication-form {
  position: relative;
  top: 80px;
  left: 20px;
  font-size: 12px;
  font-family: 'Lora', serif;
}
body #wrapper .publication-form .well {
  padding: 10px;
}
body #wrapper .publication-form .well h3 {
  padding: 0 0 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #717D7C;
}
body #wrapper .publication-form .well h6 {
  font-weight: bold;
}
body #wrapper .publication-form .well .destinations div {
  width: 40%;
}
body #wrapper .publication-form .well label {
  width: 80%;
}
body #wrapper .profile {
  position: relative;
  top: 80px;
  left: -10px;
  font-size: 14px;
  padding-bottom: 50px;
  font-family: 'Lora', serif;
  line-height: 35px;
}
body #wrapper .profile .col-md-8 {
  width: 600px;
}
body #wrapper .profile .col-md-8 img {
  width: 450px;
  height: 280px;
  margin: 10px 80px;
}
body footer {
  background-color: #dee2e2;
  color: #fff;
  font-size: 14px;
  font-family: 'Francois One', sans-serif;
  padding-top: 15px;
}
