extends ../_layout
block container
    .reg-form.container
        h3 Tell About Your Adventure
        .well
            form
                .row
                    .col-md-12
                        .form-group
                            label(for="title") Enter titile of your publication
                            .input-group
                                input#title.form-control(type="text" name="title" placeholder="Enter title" required="required")
                    .col-md-12
                        .form-group
                            label(for="date") Date of your publication
                            .input-group
                                input#date.form-control(type="date" name="date"  data-date="" data-date-format="DD MMMM YYYY" value="2017-07-03" required="required")
                    .col-md-12
                        .form-group
                            label(for="publisher") Enter the name of the publisher
                            .input-group
                                input#publisher.form-control(type="text" name="publisher" placeholder="Enter publisher" required="required")
                    .col-md-12
                        .form-group
                            label(for="publisher-info") Present the publisher in a few words
                            .input-group
                                input#publisher-info.form-control(type="text" name="publisher-info" placeholder="Enter publisher info" required="required")
                    .col-md-12
                        .form-group
                            label(for="image1") Add image url
                            .input-group
                                input#image1.form-control(type="text" name="image1" placeholder="Choose image" required="required")
                    .col-md-12
                        .form-group
                            label(for="text1") Enter description to image
                            .input-group
                                input#text1.form-control(type="text" name="text1" placeholder="Enter description" required="required")
                    .col-md-12
                        .form-group
                            label(for="image2") Add image url
                            .input-group
                                input#image2.form-control(type="text" name="image2" placeholder="Choose image" required="required")
                    .col-md-12
                        .form-group
                            label(for="text2") Enter description to image
                            .input-group
                                input#text2.form-control(type="text" name="text2" placeholder="Enter description" required="required")
                    .col-md-12
                        .form-group
                            |  Choose destination
                            .destinations
                                div
                                    label(for="africa") Africa
                                        input#africa(type="radio" name="destination" value="africa" placeholder="Choose destination") 
                                div
                                    label(for="asia")  Asia
                                        input#asia(type="radio" name="destination" value="asia" placeholder="Choose destination") 
                                div
                                    label(for="europe") Europe
                                        input#europe(type="radio" name="destination" value="europe" placeholder="Choose destination") 
                                div
                                    label(for="north-america")  North America
                                        input#north-america(type="radio" name="destination" value="north-america" placeholder="Choose destination") 
                                div
                                    label(for="south-america") South America
                                        input#south-america(type="radio" name="destination" value="south-america" placeholder="Choose destination") 
                                div
                                    label(for="australia") Australia and Pacific
                                        input#australia(type="radio" name="destination" value="austarlia" placeholder="Choose destination") 
                                    