extends ../_layout
block container
    .reg-form.container
        .well
            img.img-circle(src="//ssl.gstatic.com/accounts/ui/avatar_2x.png")
            form
                .row
                    .col-md-12
                        .form-group
                            label(for="fname") First Name
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-user
                                input#fname.form-control(type="text" placeholder="Enter your first name" required="required")
                    .col-md-12
                        .form-group
                            label(for="lname") Last Name
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-user
                                input#lname.form-control(type="text" placeholder="Enter your last name" required="required")
                    .col-md-12
                        .form-group
                            label(for="uname") User Name
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-user
                                input#uname.form-control(type="text" placeholder="Enter your username" required="required")
                    .col-md-12
                        .form-group
                            label(for="e-mail") E-mail
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-envelope
                                input#e-mail.form-control(type="email" placeholder="Enter your e-mail" required="required")
                    .col-md-12
                        .form-group
                            label(for="password") Password
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-lock
                                input#password.form-control(type="password" placeholder="Enter your password" required="required")
                    .col-md-12
                        .form-group
                            label(for="confirm-password") Confirm Password
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-lock
                                input#confirm-password.form-control(type="password" placeholder="Confirm your password" required="required")
                    .col-md-12
                        a(href="#" type="button" class="btn btn-default btn-block pull-right" id="btn-signin") Register
