extends ../_layout
include ../_mixins/_aside

block scripts                     
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.js")
    script(src="/libs/moment/moment.js")
    script(src="/static/js/format-date.js") 
    script(src="/static/js/popover.js")
    script(src="/static/js/latest.js") 
    script(src="/static/js/popular.js")                                                         
    script(src="/static/js/destinations.js")
    
block container  
    .publication.container
        .row
            .col-md-3.col-md-offset-1
                +asides
            .col-md-8.single-publication-container
                h2 
                    = model.title
                .date-postBy
                    span.date
                        = model.date
                    span | 
                    span.post-by by 
                        = model.publisher   
                img(src="../../static/images/" + model.image1, alt="image")
                .publication-text 
                    = model.text1
                img(src="../../static/images/" + model.image2, alt="image")
                .publication-text 
                    = model.text2
                img(src="../../static/images/" + model.image3, alt="image")
                .publication-text 
                    = model.text3
                if user    
                    .icons
                        .row
                            .col-md-7.col-md-offset-5.text-right
                                button(type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Edit publication")
                                    span(class="glyphicon glyphicon-pencil" aria-hidden="true")
                                button(type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Remove publication")
                                    span(class="glyphicon glyphicon-remove" aria-hidden="true")
                                button(type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Add to favourites")
                                    span(class="glyphicon glyphicon-star-empty" aria-hidden="true")
                                button(type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Like")
                                    span(class="glyphicon glyphicon-thumbs-up" aria-hidden="true")
                                button(type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Dislike")
                                    span(class="glyphicon glyphicon-thumbs-down" aria-hidden="true")
                .publisher    
                    h4 Posted by
                    .row
                        .col-md-1
                            img.img-circle(src="../../static/images/publisher.JPG")
                        .col-md-11
                            h5 
                                = model.publisher
                            h6 Blogger
                            p 
                                = model.publisherinfo
                .comments-container
                    h4 Comments
                    .row
                        .col-md-1
                            img(src="../../static/images/comments.JPG")
                        .col-md-11
                            h5 Michael Ford
                            h6 June 26, 2017
                            p 
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consequuntur, quod. Ut rerum, aliquid sapiente assumenda. Eveniet alias neque earum quo, rem soluta deleniti cupiditate dicta veritatis modi asperiores quisquam.
                    .row
                        .col-md-1
                            img(src="../../static/images/comments.JPG")
                        .col-md-11
                            h5 Michael Ford
                            h6 June 26, 2017
                            p 
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consequuntur, quod. Ut rerum, aliquid sapiente assumenda. Eveniet alias neque earum quo, rem soluta deleniti cupiditate dicta veritatis modi asperiores quisquam.
                    .row
                        .col-md-1
                            img(src="../../static/images/comments.JPG")
                        .col-md-11
                            h5 Michael Ford
                            h6 June 26, 2017
                            p 
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consequuntur, quod. Ut rerum, aliquid sapiente assumenda. Eveniet alias neque earum quo, rem soluta deleniti cupiditate dicta veritatis modi asperiores quisquam.
                    h4 Send a Comment
                    form
                        .row
                            .col-md-6
                                .form-group
                                    label(for="firstname") First Name
                                        .input-group
                                            input#firstname.form-control(type="text" placeholder="Enter your first name" required="required")
                                .form-group
                                    label(for="lastname") Last Name
                                        .input-group
                                            input#lastname.form-control(type="text" placeholder="Enter your last name" required="required")
                            .col-md-6
                                .form-group
                                    label(for="text-comment") Comment
                                    textarea(name="text-comment" id="text-comment" class="form-control" rows="5" cols="25" required="required" placeholder="Comment")
                            .col-md-12
                                a(href="#" type="button" class="btn btn-default") Add Comment