mixin asides
    aside
        div
            form.navbar-form(role="search")
            .input-group
                input.form-control(type="text" placeholder="Search for ..." name="search")
                div.input-group-btn
                    button.btn.btn-default(type="submit")
                        i.glyphicon.glyphicon-search
        ul.nav.nav-stacked
            li(role="presentation" class="active")
                a(href="#") Destinations
            li(role="presentation")
                a(href="#") All
            li(role="presentation")
                a(href="#") Europe
            li(role="presentation")
                a(href="#") Asia
            li(role="presentation")
                a(href="#") Africa
            li(role="presentation")
                a(href="#") North America
            li(role="presentation")
                a(href="#") South America
            li(role="presentation")
                a(href="#") Australia and Pacific
        .filtered   
            h5 Most Popular Publishers
            .row.popular     
            h5 Recent Posts
            .row.latest                              