mixin asides
    aside
        div
            form.navbar-form(role="search")
            .input-group
                input.form-control(type="text" placeholder="Search for ..." name="search")
                div.input-group-btn
                    button.btn.btn-default(type="submit")
                        i.glyphicon.glyphicon-search
        ul.nav.nav-stacked
            li(role="presentation" class="active")
                a(href="#") Destinations in
            li(role="presentation")
                a(href="#") Europe
            li(role="presentation")
                a(href="#") Asia
            li(role="presentation")
                a(href="#") Africa
            li(role="presentation")
                a(href="#") North America
            li(role="presentation")
                a(href="#") South America
            li(role="presentation")
                a(href="#") Australia and Pacific
        .popular
            h5 Recent Posts
            .row.latest
                //- each item in result
                //-     .col-md-12
                //-         a(href="/publications") 
                //-             img(src="../../static/images/" + item.image1 alt="image")
                //-         .info
                //-             h6 #{item.title}           
            h5 Most Popular Publishers
            .row.most-popular
                //- .col-md-12
                //-     .info
                //-         a(href="/publishers")  Publisher Name         
                //- .col-md-12
                //-     .info
                //-         a(href="/publishers")  Publisher Name
                //- .col-md-12
                //-     .info
                //-         a(href="/publishers")  Publisher Name                                 