- var navclasses = ['nav', 'nav-pills']
mixin navigation
    ul(class=navclasses) 
        li
            a(href="/home")
                span.glyphicon.glyphicon-home
                    span Home
        li
            a(href="/explore")
                span.glyphicon.glyphicon-cog
                    span Explore
        li
            a(href="/contact")
                span.glyphicon.glyphicon-envelope
                    span Contact
