- var navclasses = ['nav', 'nav-pills']
mixin navigation
    ul(class=navclasses) 
        li
            a(href="/home")
                span.glyphicon.glyphicon-home
                    span Home
        li
            a(href="/api/publications")
                span.glyphicon.glyphicon-camera
                    span Adventures
        li
            a(href="/contact")
                span.glyphicon.glyphicon-envelope
                    span Contact
