- var navclasses = ['nav', 'nav-pills']
mixin navigation
    ul(class=navclasses) 
        li
            a(href="/home")
                span.glyphicon.glyphicon-home
                    span Home
        li
            a#adventures(href="/publications")
                span.glyphicon.glyphicon-globe
                    span Adventures
        li
            a(href="/publishers")
                span.glyphicon.glyphicon-camera
                    span Travellers
        li
            a(href="/guides")
                span.glyphicon.glyphicon-info-sign
                    span Guides
        li
            a(href="/contact")
                span.glyphicon.glyphicon-envelope
                    span Contact
