extends ../_layout
include ../_mixins/_aside
block scripts                     
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.js")
    script(src="/static/js/latest.js")    
    script(src="/static/js/popular.js")  
    script(src="/static/js/destinations.js")
    
block container  
    .all-publishers.container
        .row
            .col-md-3.col-md-offset-1
                +asides
            .col-md-8
                each item in model
                    .publishers-container
                        h3.text-center
                            a(href="/publishers/" + item._id) #{item.name}
                        p
                            |    #{item.info}
                        .all
                            .row
                                each element in item.publication
                                    .publishers-container-info.col-md-6
                                        div
                                            img(src="../../static/images/" + element.image, alt="image")
                                        .text-center
                                            a(href="/publications/" + element._id) #{element.title}