extends ../_layout
include ../_mixins/_aside

block scripts                     
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.js")
    script(src="/static/js/latest.js")
    script(src="/static/js/popular.js")                                                          

block container  
    .publishers.container
        .row
            .col-md-3.col-md-offset-1
                +asides
            .col-md-8.single-publisher-container
               h1 PublisherInfo
                .comments-container
                    h4 Comments
                    .row
                        .col-md-1
                            img(src="../../static/images/comments.JPG")
                        .col-md-11
                            h5 Michael Ford
                            h6 June 26, 2017
                            p 
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consequuntur, quod. Ut rerum, aliquid sapiente assumenda. Eveniet alias neque earum quo, rem soluta deleniti cupiditate dicta veritatis modi asperiores quisquam.
                    .row
                        .col-md-1
                            img(src="../../static/images/comments.JPG")
                        .col-md-11
                            h5 Michael Ford
                            h6 June 26, 2017
                            p 
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consequuntur, quod. Ut rerum, aliquid sapiente assumenda. Eveniet alias neque earum quo, rem soluta deleniti cupiditate dicta veritatis modi asperiores quisquam.
                    .row
                        .col-md-1
                            img(src="../../static/images/comments.JPG")
                        .col-md-11
                            h5 Michael Ford
                            h6 June 26, 2017
                            p 
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consequuntur, quod. Ut rerum, aliquid sapiente assumenda. Eveniet alias neque earum quo, rem soluta deleniti cupiditate dicta veritatis modi asperiores quisquam.
                    h4 Send a Comment
                    form
                        .row
                            .col-md-6
                                .form-group
                                    label(for="firstname") First Name
                                        .input-group
                                            input#firstname.form-control(type="text" placeholder="Enter your first name" required="required")
                                .form-group
                                    label(for="lastname") Last Name
                                        .input-group
                                            input#lastname.form-control(type="text" placeholder="Enter your last name" required="required")
                            .col-md-6
                                .form-group
                                    label(for="text-comment") Comment
                                    textarea(name="text-comment" id="text-comment" class="form-control" rows="5" cols="25" required="required" placeholder="Comment")
                            .col-md-12
                                a(href="#" type="button" class="btn btn-default") Add Comment