extends ../_layout
include ../_mixins/_aside

block scripts                     
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.js")
    script(src="/static/js/latest.js")
    script(src="/static/js/popular.js") 
    script(src="/static/js/destinations.js")                                                         

block container  
    .publishers.container
        .row
            .col-md-3.col-md-offset-1
                +asides
            .col-md-8
                .single-publisher-container
                    h3.text-center
                        |   #{model.name}
                    p
                        |   #{model.info}
                    .row
                        each element in model.publication
                            .publisher-container-info.col-md-6
                                div
                                    img(src="/static" + element.image, alt="image")
                                .text-center
                                    a(href="/publications/" + element._id) #{element.title}
                .comments-container
                    != messages()
                    h4 Comments
                    if model.comments.length
                        .row
                            each element in model.comments
                                .col-md-1
                                    img(src="../../static/images/comments.JPG")
                                .col-md-11
                                    h5 
                                        = element.firstname 
                                        span 
                                            = element.lastname
                                    h6 
                                        = element.date
                                    p 
                                        = element.text
                    else
                        div 
                            | This publication has no comments yet.      
                    h4 Send a Comment
                    form(method="POST" action="/publishers/" + model._id + "/comments")
                        .row
                            .col-md-6
                                .form-group
                                    label(for="firstname") First Name
                                        .input-group
                                            input#firstname.form-control(type="text" placeholder="Enter your first name" required="required" name="firstname")
                                .form-group
                                    label(for="lastname") Last Name
                                        .input-group
                                            input#lastname.form-control(type="text" placeholder="Enter your last name" required="required" name="lastname")
                            .col-md-6
                                .form-group
                                    label(for="text-comment") Comment
                                    textarea(name="textComment" id="text-comment" class="form-control" rows="5" cols="25" required="required" placeholder="Comment")
                            .col-md-12
                                button(type="submit" class="btn btn-default") Add Comment
