extends ../_layout
block container  
    #home.container
        h1 Keep Your 
        h1 Summer in Photos
        a(href="/all-publications")
            button(type="button") See More
                                