extends ../_layout
include ../_mixins/_aside

block scripts
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.js")
    script(src="/libs/moment/moment.js")
    script(src="/static/js/format-date.js") 
    script(src="/static/js/latest.js")
    script(src="/static/js/popular.js")  

block container
    .container.profile
        .row
            .col-md-3.col-md-offset-1
                +asides
            .col-md-8
                .row
                    .col-md-12
                        img(src="/static/images/camera.jpg")
                    .col-md-12
                        .row
                            .col-md-3.col-md-offset-3 First Name : 
                            .col-md-6 Nadine
                            .col-md-3.col-md-offset-3 Last Name : 
                            .col-md-6 Sykora
                            .col-md-3.col-md-offset-3 User Name: 
                            .col-md-6 nadine
                            .col-md-3.col-md-offset-3 Email Address: 
                            .col-md-6 nadine@gmail.com
                            .col-md-3.col-md-offset-3 Registered: 
                            .col-md-6.date 2017-07-10
                            .col-md-12.text-center
                                a(href="#") Your Publications
                            .col-md-12.text-center
                                a(href="#") Your Favourites                                  